{
    "token": "ya29.example-token-value-xxx",
    "refresh_token": "1//example-refresh-token-xxx",
    "token_uri": "https://oauth2.googleapis.com/token",
    "client_id": "123456789-example.apps.googleusercontent.com",
    "client_secret": "EXAMPLE-client-secret-xxx",
    "scopes": [
        "https://www.googleapis.com/auth/gmail.readonly"
    ],
    "expiry": "2024-01-12T13:45:00.000Z"
}
